<footer class="grid">
    <div class="logo">
        <img src="../../../assets/trlv_logo.png" alt="TRLV Logo">
        <div class="content">
            <h3 class="title">The Risen Lord's Vineyard</h3>
            <p>Catholic Charismatic Community</p>
        </div>
    </div>

    <div class="join">
        <h3>Join Our Community</h3>
        <p class="email"><a href="mailto:vinia.psantos@yahoo.com?"> vinia.psantos@yahoo.com</a></p>
        <p>Imus, Cavite</p>
        <p>0917 123456789</p>
    </div>

    <div class="about-us">
        <p>Mission</p>
        <p>Theme</p>
        <p>Vision</p>
        <p>Core Values</p>
    </div>
</footer>