<section class="core-values">
    <h3>Core Values</h3>
    <mat-card>
        <mat-card-header>
            <mat-card-title>Love and Faith</mat-card-title>
            <!-- <mat-card-subtitle>Love and Faith</mat-card-subtitle> -->
        </mat-card-header>
        <img mat-card-image src="../../../assets/love_faith.jpg" alt="Photo of Love and Faith">
    </mat-card>

    <mat-card>
        <mat-card-header>
            <mat-card-title>Humility</mat-card-title>
            <!-- <mat-card-subtitle>Humility</mat-card-subtitle> -->
        </mat-card-header>
        <img mat-card-image src="../../../assets/humility.jpg" alt="Photo of Love and Faith">
    </mat-card>

    <mat-card>
        <mat-card-header>
            <mat-card-title>Obedience</mat-card-title>
            <!-- <mat-card-subtitle>Humility</mat-card-subtitle> -->
        </mat-card-header>
        <img mat-card-image src="../../../assets/obedience.jpg" alt="Photo of Love and Faith">
    </mat-card>

    <mat-card>
        <mat-card-header>
            <mat-card-title>Integrity</mat-card-title>
            <!-- <mat-card-subtitle>Humility</mat-card-subtitle> -->
        </mat-card-header>
        <img mat-card-image src="../../../assets/integrity.jpg" alt="Photo of Love and Faith">
    </mat-card>

    <mat-card>
        <mat-card-header>
            <mat-card-title>Faithfulness</mat-card-title>
            <!-- <mat-card-subtitle>Humility</mat-card-subtitle> -->
        </mat-card-header>
        <img mat-card-image src="../../../assets/faithfulness.jpg" alt="Photo of Love and Faith">
    </mat-card>

    <mat-card>
        <mat-card-header>
            <mat-card-title>Generosity</mat-card-title>
            <!-- <mat-card-subtitle>Humility</mat-card-subtitle> -->
        </mat-card-header>
        <img mat-card-image src="../../../assets/generosity.jpg" alt="Photo of Love and Faith">
    </mat-card>

    <mat-card>
        <mat-card-header>
            <mat-card-title>Patience</mat-card-title>
            <!-- <mat-card-subtitle>Humility</mat-card-subtitle> -->
        </mat-card-header>
        <img mat-card-image src="../../../assets/patience.jpg" alt="Photo of Love and Faith">
    </mat-card>
</section>