<section class="vocation">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Mission</mat-card-title>
            <!-- <mat-card-subtitle></mat-card-subtitle> -->
        </mat-card-header>
        <img mat-card-image src="../../../assets/mission.jpg" alt="Photo of Mama Mary and child">
        <mat-card-content>
            <p>To bear witness to the Resurrection of Jesus Christ. And to bear witness also to the Immaculate
                Conception of the Blessed Virgin Mary.</p>
        </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-header>
            <mat-card-title>Vision</mat-card-title>
            <!-- <mat-card-subtitle></mat-card-subtitle> -->
        </mat-card-header>
        <img mat-card-image src="../../../assets/vision.jpg" alt="Photo Mother Mary">
        <mat-card-content>
            <p>The Risen Lord's Vineyard is a Community of witnesses of the Risen Lord and devoted children of the
                Blessed
                Virgin Mary making a difference in the lives of people by sharing the love and Word of God, thus
                strengthening
                the church built by Christ.
            </p>
        </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-header>
            <mat-card-title>Theme</mat-card-title>
            <!-- <mat-card-subtitle></mat-card-subtitle> -->
        </mat-card-header>
        <img mat-card-image src="../../../assets/theme.jpg" alt="Photo of Jesus and child">
        <mat-card-content>
            <p>Rise up to a renewed life in Christ and be transformed by His love.</p>
        </mat-card-content>
    </mat-card>
</section>