.mat-toolbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 998;
    color: white;
    height: 40px;
    display: flex;
    justify-content: space-between;
}

.mat-toolbar.mat-primary {
    background: rgba(3, 77, 161, 0.8);
    color: #fff;
}

.material-icons {
    transform: scale(1.5);
    padding: 0;
}

.mat-icon-button i, .mat-icon-button .mat-icon {
    line-height: 22px;
    font-size: 1.3rem;
}

.mat-icon-button {
    padding: 0;
    min-width: 0;
    width: 36px;
    height: 36px;
    flex-shrink: 0;
    line-height: 38px;
    border-radius: 50%;
}

.mat-toolbar ul {
    display: flex;
    list-style: none;
    font-size: 0.7em;
    font-weight: bold;
}

.mat-toolbar ul:first-of-type {
    flex: 1;
}

.mat-toolbar ul li {
    padding: 0 1.5em;
}

.mat-toolbar ul li:first-child {
    padding-left: 0;
}

.mat-toolbar ul li a {
    color: var(--lightblue);
}

.mat-toolbar ul li a:hover {
    color: var(--secondary);
}
