<mat-toolbar color="primary">
    <button *ngIf="isHandset"
        type="button"
        aria-label="Toggle sidenav" 
        mat-icon-button 
        (click)="open(true)">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <ul>
        <li>
            <a [routerLink]="['/home']" 
                routerLinkActive="active" 
                [routerLinkActiveOptions]="{ exact: true }">Home
            </a>
        </li>
        <ng-container *ngIf="!isHandset">
            <li><a href="#">Events</a></li>
            <li><a href="#">Members</a></li>
            <ng-container *ngIf="!isHandset && displayName != Friend">
                <li>
                    <a [routerLink]="['/admin']" 
                        routerLinkActive="active" 
                        [routerLinkActiveOptions]="{ exact: true }">Login
                    </a>
                </li>    
            </ng-container>

            <ng-template #logout>
                <li>
                    <a [routerLink]="['/admin']" 
                    routerLinkActive="active" 
                    [routerLinkActiveOptions]="{ exact: true }">Logout
                    </a>
                </li>
            </ng-template>
        </ng-container>
        
    </ul>
    <ul>
        <li>Hello {{ displayName }}</li>
    </ul>
</mat-toolbar>