header {
    width: 100%;
    height: 100vh;
    background: url('../../../assets/header_mobile_cover.jpg') no-repeat center center/cover;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.app-header h1 {
    /* border: 1px solid blue; */
    width: 100%;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;
    font-size: 2.2rem;
    color: var(--secondary);
    text-shadow: 1px 1px 3px #000000;
    margin-top: 2.2em;
    margin-bottom: 0.3em;
}

.app-header h3 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    color: white;
    text-shadow: 1px 1px 3px #000000;
}

/* Tablet portrait*/
@media (min-width: 600px) and (max-width: 839.99px) and (orientation: portrait),
       /* Tablet portrait wide*/       
       (min-width: 840px) and (orientation: portrait) {
    header {
        width: 100%;
        background: url('../../../assets/header_tablet_cover.jpg') no-repeat center center/cover;
        margin: 0 auto;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .app-header h1 {
        /* border: 1px solid orange; */
        width: 100%;
        font-family: "Roboto Condensed", sans-serif;
        font-weight: bold;
        font-size: 2.5rem;
        color: var(--core-title);
        line-height: 1.2;
        text-shadow: 1px 1px 3px #000000;
        margin-top: 100px;
        margin-bottom: 0;
    }
    
    .app-header h3 {
        font-family: 'Times New Roman', Times, serif;
        font-size: 1.5rem;
        color: var(--white);
        text-shadow: 1px 1px 3px #000000;
    }
}

/* Tablet landscape */
@media (min-width: 600px) and (max-width: 959.99px) and (orientation: landscape) {
    .main-nav {
        position: fixed;
        width: 98vw;
        display: flex;
        z-index: 3;
        padding: 0.7em 0;
        justify-content: space-between;
        background-color: rgba(3, 77, 161, 0.8);
    }
    
    .main-nav ul {
        display: flex;
        list-style: none;
        font-size: 1.1em;
        font-weight: bold;
    }

    .main-nav ul li {
        padding: 0 0.7em;
    }

    .main-nav ul li a {
        color: var(--lightblue);
    }

    .main-nav ul li a:hover {
        color: var(--core-title);
    }

    .main-nav .member-menu:last-child {
        padding-right: 0.7em;
    }

    header {
        width: 100%;
        margin: 0 auto;
        position: relative;
        background: url('../../../assets/header_web_cover.jpg') no-repeat center center/cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .app-header h1 {
        /* border: 1px solid red; */
        width: 100%;
        font-family: "Roboto Condensed", sans-serif;
        font-weight: bold;
        font-size: 3rem;
        color: var(--core-title);
        line-height: 1.2;
        text-shadow: 1px 1px 3px #000000;
        margin-top: 100px;
        margin-bottom: 0;
    }
    
    .app-header h3 {
        font-family: 'Times New Roman', Times, serif;
        font-size: 1.8rem;
        color: var(--white);
        text-shadow: 1px 1px 3px #000000;
    }
}

/* Web landscape */
@media (min-width: 1280px) and (orientation: landscape),
       (min-width: 960px) and (max-width: 1279.99px) and (orientation: landscape) {
    .main-nav {
        position: fixed;
        min-width: 1280px;
        margin: 0 auto;
        display: flex;
        padding: 0.7em 0;
        justify-content: space-between;
        background-color: rgba(3, 77, 161, 0.8);
        z-index: 3;
        left: 50%;
        top: 2.5%;
        transform: translate(-50%, -50%);
    }
    
    .main-nav ul {
        display: flex;
        list-style: none;
        font-size: 1.1em;
        font-weight: bold;
    }

    .main-nav ul li {
        padding: 0 1.5em;
    }

    .main-nav ul li a {
        color: var(--lightblue);
    }

    .main-nav ul li a:hover {
        color: var(--core-title);
    }

    /* .main-nav .member-menu:last-child {
        padding-right: 0.7em;
    } */

    header {
        width: 100%;
        max-width: 1280px;
        margin: 0 auto;
        position: relative;
        background: url('../../../assets/header_web_cover.jpg') no-repeat center center/cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .app-header h1 {
        /* border: 1px solid yellow; */
        font-family: "Roboto Condensed", sans-serif;
        font-weight: bold;
        font-size: 3.5rem;
        line-height: 1.2;
        color: var(--core-title);
        text-shadow: 1px 1px 3px #000000;
        width: 100%;
        margin-top: 100px;
        margin-bottom: 0;
    }
    
    .app-header h3 {
        font-family: 'Times New Roman', Times, serif;
        font-size: 2rem;
        width: 100%;
        color: var(--white);
        text-shadow: 1px 1px 3px #000000;
    }
}