.bottom-sheet {
    max-width: 100vw;
    max-height: 90vh;
    width: 100%;
    text-align: center;
}

.bottom-sheet h2 {
    margin: 0;
    padding: 0;
}

.bottom-sheet h3 {
    margin: 0;
    padding: 0;
    margin-bottom: 1em;
}

.bottom-sheet button {
    background-color: #c2185b;
    color: white;
}

/* .mat-card {
    background: transparent;
    padding-top: 10px;
    padding-right: 16px;
    padding-bottom: 16px;
    padding-left: 16px
}

.mat-card-header-text {
    margin: 0;
    color: var(--primary);
}

.mat-card-image {
    width: calc(100%);
    margin: 0;
}

.mat-card-actions, 
.mat-card-content, 
.mat-card-subtitle {
    display: block;
    margin: 10px 0;
}

.mat-card>.mat-card-actions:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
}

.mat-card-actions {
    margin: 0;
    padding: 0;
}

.mat-card-actions button {
    background-color: #c2185b;
    color: white;
}

.mat-card-content .mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
} */