#wrapper {
    display: grid;
    padding: 0;
    margin: 0;
    grid-template-areas:
        "header"
        "vocation"
        "core-values"
        "footer"
}

.header {
    grid-area: header;
}

.vocation {
    grid-area: vocation;
}

.core-values {
    grid-area: core-values;
}

.footer {
    grid-area: footer;
}